.b-radio-list {
  list-style: none;
  margin: 0 0 15px 0;
  padding: 0;

  &__item {}
}

.b-radio-simple {
  &__input {
    display: none;
  }

  &__label {
    cursor: pointer;
    color: #2e4c64;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    position: relative;
    padding-left: 30px;
    margin: 0;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid #ccdce6;
      border-radius: 50%;
      background-color: #ffffff;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      margin-top: -2px;
    }

    &:after {
      content: '';
      display: none;
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #8bc34a;
      border-radius: 50%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      margin-left: 5px;
      margin-top: -2px;
    }

    &_small {
      color: #2e4c64;
      font-size: 13px;
      font-weight: 400;
      line-height: 15px;
      padding: 25px 0 0 0;

      &:before {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &:after {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0;
        margin-top: 3px;
      }
    }
  }

  &__input:checked + &__label:before {
    border-color: #8bc34a;
  }

  &__input:checked + &__label:after {
    display: block;
  }
}